In [1]:
flowers = ["Rose", "Tulip", "Lily", "Sunflower", "Daisy"]
flowers

['Rose', 'Tulip', 'Lily', 'Sunflower', 'Daisy']

In [2]:
#Repetition (*)
repeated_flowers = flowers * 3  # Repeats the list 3 times
print(repeated_flowers)

['Rose', 'Tulip', 'Lily', 'Sunflower', 'Daisy', 'Rose', 'Tulip', 'Lily', 'Sunflower', 'Daisy', 'Rose', 'Tulip', 'Lily', 'Sunflower', 'Daisy']

In [3]:
# Concatenation (+)

additional_flowers = ["Orchid", "Carnation"]
combined_flowers = flowers + additional_flowers
print(combined_flowers)

['Rose', 'Tulip', 'Lily', 'Sunflower', 'Daisy', 'Orchid', 'Carnation']

In [4]:
#Membership
if "Rose" in flowers:
    print("Rose is in the list")

Rose is in the list

In [5]:
# Length
list_length = len(flowers)
print("The length of the list is", list_length)

The length of the list is 5

In [6]:
# Iteration
for flower in flowers:
    print(flower)

Rose
Tulip
Lily
Sunflower
Daisy

In [7]:
#2.1. Create your own lists to perform the below Python List Built-in functions?
#otherwise use the
                  # List1 = [15, 300, 2700, 821]
                   #List2 = [12, 2]
                   #List3 = [34, 567, 78]
   #A.  max(list)    
   #B.  min(list)    
   #C.  list(seq)      

List1 = [15, 300, 2700, 821]
List2 = [12, 2]
List3 = [34, 567, 78]
#max(list) 
max_value_list1 = max(List1)
max_value_list2 = max(List2)
max_value_list3 = max(List3)

print("Max value in List1:", max_value_list1)
print("Max value in List2:", max_value_list2)
print("Max value in List3:", max_value_list3)

Max value in List1: 2700
Max value in List2: 12
Max value in List3: 567

In [8]:
#min(list)

min_value_list1 = min(List1)
min_value_list2 = min(List2)
min_value_list3 = min(List3)

print("Min value in List1:", min_value_list1)
print("Min value in List2:", min_value_list2)
print("Min value in List3:", min_value_list3)

Min value in List1: 15
Min value in List2: 2
Min value in List3: 34

In [9]:
# list(seq)
seq = (1, 2, 3, 4, 5)  # Example sequence
list_from_seq = list(seq)

print("List created from a sequence:", list_from_seq)

List created from a sequence: [1, 2, 3, 4, 5]

In [15]:
"""3. Create your own lists to perform the below Python List built-in methods
   A.  list.append()
   B.  list.clear()   
   C.  List.copy()          
   D.  list.count()         
   E.  list.extend()    
   F.  list.index()
   G.  list.insert()  
   H.  list.pop() 
   I.  list.remove()    
   J.  list.reverse()         
   K.  list.sort()  
"""

my_list = [10, 20, 30, 40, 20, 50]
print("My List:",my_list)
#list.append()
my_list.append(60)
print("Appended List:",my_list)

My List: [10, 20, 30, 40, 20, 50]
Appended List: [10, 20, 30, 40, 20, 50, 60]

In [19]:
#list.clear()
#my_list.clear()
print(my_list)

[]

In [20]:
#list.copy()
my_new_list = [10, 20, 30, 40, 20, 50]
new_list = my_new_list.copy()
print(new_list)

[10, 20, 30, 40, 20, 50]

In [21]:
#list.count()
count = my_new_list.count(20)
print("Count of 20 in the list:", count)

Count of 20 in the list: 2

In [23]:
#list.extend()
extension = [70, 80, 90]
my_new_list.extend(extension)
print( my_new_list)

[10, 20, 30, 40, 20, 50, 70, 80, 90]

In [24]:
#list.index()
index = my_new_list.index(40)
print("Index of 40 in the list:", index)

Index of 40 in the list: 3

In [25]:
#list.insert()
my_new_list.insert(2, 35)
print(my_new_list)

[10, 20, 35, 30, 40, 20, 50, 70, 80, 90]

In [26]:
#list.pop()
popped_element = my_new_list.pop()
print("Popped element:", popped_element)

Popped element: 90

In [27]:
#list.remove()
my_new_list.remove(20)
print(my_new_list)

[10, 35, 30, 40, 20, 50, 70, 80]

In [28]:
#list.reverse()
my_new_list.reverse()
print(my_new_list)

[80, 70, 50, 20, 40, 30, 35, 10]

In [29]:
#list.sort()
my_new_list.sort()
print(my_new_list)

[10, 20, 30, 35, 40, 50, 70, 80]

In [35]:
"""Create your own Tuple to perform the below Python tuple Operations ?
otherwise use the below
               Tuple1 = ('a','b','c','d')
               Tuple2 = ('e','f','g','h')
1. Tuple Operations
 
 
   A. Repetition (*)
   B. Concatenation (+)
   C. Membership
   D. Length
   E. Iteration"""

Tuple1 = ('a', 'b', 'c', 'd')
Tuple2 = ('e', 'f', 'g', 'h')
#Repetition (*) 
repeated_tuple1 = Tuple1 * 3  # Repeats Tuple1 3 times
print("Repeated Tuples:", repeated_tuple1)

Repeated Tuples: ('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

In [36]:
    # Concatenation (+)
concatenated_tuples = Tuple1 + Tuple2
print("Concatenated Tuples:",concatenated_tuples)

Concatenated Tuples: ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

In [37]:
# Membership 
if 'a' in Tuple1:
    print("'a' is in Tuple1")

'a' is in Tuple1

In [38]:
#Length
tuple1_length = len(Tuple1)
tuple2_length = len(Tuple2)
print("Length of Tuple1:", tuple1_length)
print("Length of Tuple2:", tuple2_length)

Length of Tuple1: 4
Length of Tuple2: 4

In [39]:
#Iteration 
for item in Tuple1:
    print(item)

a
b
c
d

In [40]:
"""Create your own Tuple to perform the below Python tuple inbuilt functions ?
otherwise use the below
           Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
       
        A. max(Tuple)   
        B. min(Tuple)     
        C. Tuple(seq)"""
Tuple1 = (1, 4, 2, 4, 5, 6, 3, 5, 4, 6, 77, 8, 7, 7, 876, 89, 8765, 4, 5, 1, 876, 9, 3456, 4234)
#max(Tuple)
max_value = max(Tuple1)
print("Max value in Tuple1:", max_value)

Max value in Tuple1: 8765

In [41]:
#min(Tuple)
min_value = min(Tuple1)
print("Min value in Tuple1:", min_value)

Min value in Tuple1: 1

In [42]:
#tuple(seq)
list_seq = [10, 20, 30, 40, 50]
tuple_from_list = tuple(list_seq)
print("Tuple created from a list:", tuple_from_list)

Tuple created from a list: (10, 20, 30, 40, 50)

In [43]:
"""Create your own Set to operate the below Python Set Operations ?
otherwise use the below set:
       Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
       Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
   
1. Set Operations
    A. Union
    B. Intersection
    C. Difference
    D. Symmetric difference"""

Set1 = {1, 4, 2, 4, 5, 6, 3, 5, 4, 6, 77, 8, 7, 7, 876}
Set2 = {3, 432, 5, 6, 4, 6, 7, 6, 5, 6, 54, 567, 5}
#Union
union_set = Set1 | Set2
print("Union of Set1 and Set2:", union_set)

Union of Set1 and Set2: {1, 2, 3, 4, 5, 6, 7, 8, 876, 77, 432, 54, 567}

In [44]:
#Intersection
intersection_set = Set1 & Set2
print("Intersection of Set1 and Set2:", intersection_set)

Intersection of Set1 and Set2: {3, 4, 5, 6, 7}

In [45]:
#Difference 

difference_set = Set1 - Set2
print("Difference between Set1 and Set2:", difference_set)

Difference between Set1 and Set2: {1, 2, 8, 876, 77}

In [46]:
#Symmetric Difference

symmetric_difference_set = Set1 ^ Set2
print("Symmetric Difference between Set1 and Set2:", symmetric_difference_set)

Symmetric Difference between Set1 and Set2: {1, 2, 8, 876, 77, 432, 54, 567}

In [56]:
"""Create your own Dictionary to perform the below Python Built-in Dictionary functions
otherwise use the below Dictionary:
                           dict = {'Name': 'Student', 'Age': 27};
   A.  len(dict)    
   B.  str(dict)      
   C.  type(variable)"""
my_dict = {'Name': 'Mohanapriya', 'Age': 24}
#Len()
dict_length = len(my_dict)
print("Length of the dictionary:", dict_length)

Length of the dictionary: 2

In [57]:
#str(dict)
dict_as_string = str(my_dict)
print("Dictionary as a string:", dict_as_string)

Dictionary as a string: {'Name': 'Mohanapriya', 'Age': 24}

In [58]:
#type(variable)
dict_type = type(my_dict)
print("Type of the dictionary:", dict_type)

Type of the dictionary: <class 'dict'>

In [61]:
"""
2.Create your own Dictionary to perform the below Python Built-in Dictionary methods
otherwise use the below Dictionary:

                           dictionaries = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
   A.  dic.clear()
   B.  dict.copy()  
   C.  dict.fromkeys()
   D.  dict.get(key[, value])    
   E.  dict.items()   
   F.  dict.keys()   
   G.  dict.setdefault()  
   H.  dict.update()  
   I.  dict.values() """

dictionaries = {0: "Data", 1: "GUVI", 2: "GEEK", 3: "Python", 4: "Happy"}
print("Dictionaries:",dictionaries)
#dict.copy()
copy_of_dict = dictionaries.copy()
print("Copy of the dictionary:", copy_of_dict)

Dictionaries: {0: 'Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy'}
Copy of the dictionary: {0: 'Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy'}

In [62]:
#dict.fromkeys(keys, value)
keys = [0, 1, 2]
value = "Sample"
new_dict = dict.fromkeys(keys, value)
print("New dictionary from keys and value:", new_dict)

New dictionary from keys and value: {0: 'Sample', 1: 'Sample', 2: 'Sample'}

In [63]:
#dict.get(key[, value])
value = dictionaries.get(2, "Key not found")
print("Value for key 2:", value)

value = dictionaries.get(5, "Key not found")
print("Value for key 5 (with default value):", value)

Value for key 2: GEEK
Value for key 5 (with default value): Key not found

In [65]:
#dict.items()
items = dictionaries.items()
print("Key-value pairs:", items)
#dict.keys()
keys = dictionaries.keys()
print("Keys in the dictionary:", keys)

Key-value pairs: dict_items([(0, 'Data'), (1, 'GUVI'), (2, 'GEEK'), (3, 'Python'), (4, 'Happy')])
Keys in the dictionary: dict_keys([0, 1, 2, 3, 4])

In [66]:
#dict.setdefault(key[, default])
value = dictionaries.setdefault(3, "Default Value")
print("Value for key 3:", value)
print("Updated dictionary:", dictionaries)

Value for key 3: Python
Updated dictionary: {0: 'Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy'}

In [67]:
#dict.update(other_dict)
other_dict = {5: "New Key", 6: "New Value"}
dictionaries.update(other_dict)
print("Updated dictionary:", dictionaries)

Updated dictionary: {0: 'Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy', 5: 'New Key', 6: 'New Value'}

In [76]:
#dict.values()
values = dictionaries.values()
print("Values in the dictionary:", values)
#dict.clear()
dictionaries.clear()
print("Cleared dictionary:", dictionaries)

Values in the dictionary: dict_values(['Data', 'GUVI', 'GEEK', 'Python', 'Happy', 'New Key', 'New Value'])
Cleared dictionary: {}

In [70]:
#Write if statement 13 is greater than 25?
if 13 > 25:
    print("13 is not greater than 25")

In [71]:
#Write a if else  statement to find if the number is divisible by 25?
number = 50 
if number % 25 == 0:
    print(f"{number} is divisible by 25")
else:
    print(f"{number} is not divisible by 25")

50 is divisible by 25

In [75]:
#Using the three variables 'a = 154; b = 2451; c = 6054',Write a If...Elif...Else statement to find the greatest number
a = 154
b = 2451
c = 6054

if a > b and a > c:
    greatest = a
elif b > a and b > c:
    greatest = b
else:
    greatest = c

print("The greatest number among", a, b, "and", c, "is", greatest)

The greatest number among 154 2451 and 6054 is 6054